@using OnlineTicariOtomaston.Models.Siniflar
@model List<Personel>

@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
  <h2>Departman Detay Sayfası</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb active">Departman Adı :  @ViewBag.d</li> 
</ol>

<br />

<table class="table table-hover">

    <tr>
        <th>Personel Id</th>
        <th>Personel Ad</th>
        <th>Personel Soyad</th>
        <th>Personel Görsel</th>
        <th>Satışlar</th>


    </tr>

    @foreach (var x in Model)
    {

    <tr>
        <th>@x.PersonelId</th>
        <th>@x.PersonelAd</th>
        <th>@x.PersonelSoyad</th>
        <th>@x.PersonelGorsel</th>
        <th><a href="/Departman/DepartmanPersonelSatis/@x.PersonelId" class="btn btn-default" style="color:brown">Satışlar</a></th>

    </tr>

    }

</table>
       
